body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #4CAF50;
}

img.excel2 {
  height: 100px;
  border: 10px solid lightgreen;
  border-radius: 20px;
}

button {
  display: block;
  margin-left: 665px;
  background-color: orange;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  border: 2.5px solid blue;
  cursor: pointer;
}

input.numero {
  background-color: green;
}

table {
  margin: 40px auto;
  width: 500px;
  border-collapse: collapse;
  text-align: center;
  background: #222;
}

th {
  background: #333;
  padding: 10px;
}

td {
  padding: 8px;
  border-top: 1px solid #444;
}
