body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #4CAF50;
}

img.excel2 {
  height: 100px;
}

button {
  display: block;
  margin: 20px auto;
  background-color: orange;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  border: 2.5px solid blue;
}

input.numero {
  background-color: green;
}

table {
  margin: 20px auto;
  width: 35%;
  border-collapse: collapse;
  background: #222;
  color: white;
  font-size: 15px;
}

table th, table td {
  border: 1px solid #555;
  padding: 8px;
}
